/* CSS BY KRISTIN HIBBERT */

/* IMPORTED FONTS */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kavoon&display=swap');

/* CSS RESET */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* ROOT VARIABLES */
:root {
  --teal :#4CA7C0;
  --purple: #484FB7;
  --lavender: #6B8FE7;
  --yellow: #E9BB57;
  --pink:#D9526F;
  --dark-gray:#1E1E1E;
  --white:#ffffff; 
}
/* GLOBAL STYLES */
html {
  max-width: 450px;
  margin: 0 auto;
  background-color: var(--lavender);
}
header {
  background-color: var(--purple);
  color: var(--white);
  padding: 30px ;
  text-align: center;
}

h1, h2 {
  font-family: 'Kavoon', fantasy;
  color: var(--white);
}

h3, h4, th {
  font-family: 'Inter', sans-serif;
  font-weight: bold;
}

p {
  font-family: 'Inter', sans-serif;
  padding: 10px 25px 20px;
  line-height: 25px;
}

h1 {
  font-size: 3em;
}

header > p {
  font-style: italic;
}

nav > h2 {
  font-size: 1.5em;
  font-family: 'Inter', sans-serif;
  font-style: italic;
  color: var(--dark-gray);
  font-weight: bold;
}

nav {
  background-color: var(--yellow);
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  text-align: center;
  padding: 0px 15px 15px;
}

nav a {
  text-decoration: none;
}

h2 {
  font-size: 2em;
  margin-left: 15px;
  padding-top: 15px;
}

h3 {
  font-size: 1.5em;
  color: var(--yellow);
  margin-top: 5px;
  margin-left: 5px;
}

h4 {
  font-size: 1.15em;
  color: var(--purple);
  margin-left: 25px;
}

main {
  background-color: var(--purple);
}

.box1 {
  background-color: var(--white);
  height: auto;
  border-radius: 5%;
  margin: 20px;
}

.menu > li {
  background-color: var(--white);
  color: var(--purple);
  padding: 15px;
  margin: 10px;
}

img {
  margin: 25px;
}

#why-choose-us  {
  background-color: var(--pink);
}

#why-choose-us > ul {
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 20px;
  gap: 20px;
}

.approach {
  background-color: var(--teal);
  padding: 35px;
  border-radius: 5%;
  text-align: center;
}

.results {
  background-color: var(--lavender);
  padding: 35px;
  border-radius: 5%;
  text-align: center;
}

.environment {
  background-color: var(--yellow);
  padding: 35px;
  border-radius: 5%;

  text-align: center;
}

.options {
  background-color: var(--white);
  padding: 35px;
  border-radius: 5%;

  text-align: center;
}

table {
  border: 2px solid var(--yellow);
  background-color: var(--white);
  margin: 10px auto;
}

th {
  background-color: var(--yellow);
  border: 2px solid var(--yellow);
  padding: 20px;
}

td {
  font-family: 'Inter', sans-serif;
  padding: 15px;
  border: 2.5px solid var(--yellow);
}

#take-the-first-step {
  background-color: var(--pink);
  color: var(--white);
  height: 265px;
}

#take-the-first-step > a {
  background-color: var(--white);
  box-shadow: 5px 5px 5px var(--dark-gray);
  border-radius: 15px;
  padding: 20px 125px;
  border: var(--white);
  margin-left: 35px;
  text-decoration: none;
  font-family: 'Inter', 'sans-serif';
  font-weight: bold;
  color: var(--dark-gray);
}

footer {
  background-color: var(--purple);
  color: var(--white);
  font-family: 'Inter', 'sans-serif';
  text-align: center;
  padding: 50px;
  font-size: smaller;
}

footer > a {
  color: var(--white);
}